@import "tailwindcss";
@import './markdown.css';


@import "highlight.js/styles/stackoverflow-light.css";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-geekblue-1: #f0f5ff;
  --color-geekblue-2: #d6e4ff;
  --color-geekblue-3: #adc6ff;
  --color-geekblue-4: #85a5ff;
  --color-geekblue-5: #85a5ff;
  --color-geekblue-6: #2f54eb;
  --color-geekblue-7: #1d39c4;
  --color-geekblue-8: #10239e;
  --color-geekblue-9: #061178;
  --color-geekblue-10: #030852;

  --color-volcano-1: #fff2e8;
  --color-volcano-2: #ffd8bf;
  --color-volcano-3: #ffbb96;
  --color-volcano-4: #ff9c6e;
  --color-volcano-5: #ff7a45;
  --color-volcano-6: #fa541c;
  --color-volcano-7: #d4380d;
  --color-volcano-8: #ad2102;
  --color-volcano-9: #871400;
  --color-volcano-10: #610b00;

  --color-gaypurple-1: #f3f0ff;
  --color-gaypurple-2: #e6e4f2;
  --color-gaypurple-3: #d4d1e6;
  --color-gaypurple-4: #a8a3d9;
  --color-gaypurple-5: #7e78cc;
  --color-gaypurple-6: #5652bf;
  --color-gaypurple-7: #3a3a99;
  --color-gaypurple-8: #262873;
  --color-gaypurple-9: #15194d;
  --color-gaypurple-10: #0a0d26;

  --color-hatgreen-1: #e9f7ee;
  --color-hatgreen-2: #ddebe2;
  --color-hatgreen-3: #badeca;
  --color-hatgreen-4: #8ed1af;
  --color-hatgreen-5: #66c497;
  --color-hatgreen-6: #42b883;
  --color-hatgreen-7: #2d9168;
  --color-hatgreen-8: #1c6b4d;
  --color-hatgreen-9: #0e4532;
  --color-hatgreen-10: #061f17;


  --color-magenta-1: #fff0f6;
  --color-magenta-2: #ffd6e7;
  --color-magenta-3: #ffadd2;
  --color-magenta-4: #ff85c0;
  --color-magenta-5: #f759ab;
  --color-magenta-6: #eb2f96;
  --color-magenta-7: #c41d7f;
  --color-magenta-8: #9e1068;
  --color-magenta-9: #780650;
  --color-magenta-10: #520339;




  --color-primary-1: var(--color-geekblue-1);
  --color-primary-2: var(--color-geekblue-2);
  --color-primary-3: var(--color-geekblue-3);
  --color-primary-4: var(--color-geekblue-4);
  --color-primary-5: var(--color-geekblue-5);
  --color-primary-6: var(--color-geekblue-6);
  --color-primary-7: var(--color-geekblue-7);
  --color-primary-8: var(--color-geekblue-8);
  --color-primary-9: var(--color-geekblue-9);
  --color-primary-10: var(--color-geekblue-10);
  --color-primary: var(--color-geekblue-6);

}

.dark {
  --color-white: oklch(0.279 0.041 260.031);
  --color-black: #ffffff;


  --color-gray-50: oklch(0.129 0.042 264.695);
  --color-gray-100: oklch(0.208 0.042 265.755);
  --color-gray-200: oklch(0.279 0.041 260.031);
  --color-gray-300: oklch(0.372 0.044 257.287);
  --color-gray-400: oklch(0.446 0.043 257.281);
  --color-gray-500: oklch(0.554 0.046 257.417);
  --color-gray-600: oklch(0.704 0.04 256.788);
  --color-gray-700: oklch(0.869 0.022 252.894);
  --color-gray-800: oklch(0.929 0.013 255.508);
  --color-gray-900: oklch(0.968 0.007 247.896);
  --color-gray-950: oklch(0.984 0.003 247.858);

  --color-slat-50: oklch(0.145 0 0);
  --color-slate-100: oklch(0.205 0 0);
  --color-slate-200: oklch(0.269 0 0);
  --color-slate-300: oklch(0.37 0.013 285.805);
  --color-slate-400: oklch(0.439 0 0);
  --color-slate-500: oklch(0.556 0 0);
  --color-slate-600: oklch(0.708 0 0);
  --color-slate-700: oklch(0.87 0 0);
  --color-slate-800: oklch(0.922 0 0);
  --color-slate-900: oklch(0.967 0.001 286.375);
  --color-slate-950: oklch(0.985 0 0);



  --color-geekblue-1: #131629;
  --color-geekblue-2: #161d40;
  --color-geekblue-3: #1c2755;
  --color-geekblue-4: #203175;
  --color-geekblue-5: #263ea0;
  --color-geekblue-6: #2b4acb;
  --color-geekblue-7: #5273e0;
  --color-geekblue-8: #7f9ef3;
  --color-geekblue-9: #a8c1f8;
  --color-geekblue-10: #d2e0fa;

  --color-volcano-1: #2b1611;
  --color-volcano-2: #441d12;
  --color-volcano-3: #592716;
  --color-volcano-4: #7c3118;
  --color-volcano-5: #aa3e19;
  --color-volcano-6: #d84a1b;
  --color-volcano-7: #e87040;
  --color-volcano-8: #f3956a;
  --color-volcano-9: #f8b692;
  --color-volcano-10: #fad4bc;

  --color-gaypurple-1: #171722;
  --color-gaypurple-2: #1e1e35;
  --color-gaypurple-3: #282747;
  --color-gaypurple-4: #3a3a99;
  --color-gaypurple-5: #323061;
  --color-gaypurple-6: #3f3c83;
  --color-gaypurple-7: #736eba;
  --color-gaypurple-8: #a19ccf;
  --color-gaypurple-9: #cecbe0;
  --color-gaypurple-10: #e2e0ee;

  --color-hatgreen-1: #15211c;
  --color-hatgreen-2: #1a3329;
  --color-hatgreen-3: #224535;
  --color-hatgreen-4: #285e46;
  --color-hatgreen-5: #317f5c;
  --color-hatgreen-6: #3a9f72;
  --color-hatgreen-7: #5cb289;
  --color-hatgreen-8: #86c8a5;
  --color-hatgreen-9: #b3d8c4;
  --color-hatgreen-10: #d9e7de;

  --color-magenta-1: #291321;
  --color-magenta-2: #40162f;
  --color-magenta-3: #551c3b;
  --color-magenta-4: #75204f;
  --color-magenta-5: #a02669;
  --color-magenta-6: #cb2b83;
  --color-magenta-7: #e0529c;
  --color-magenta-8: #f37fb7;
  --color-magenta-9: #f8a8cc;
  --color-magenta-10: #fad2e3;
}

.theme-geekblue {
  --color-primary-1: var(--color-geekblue-1);
  --color-primary-2: var(--color-geekblue-2);
  --color-primary-3: var(--color-geekblue-3);
  --color-primary-4: var(--color-geekblue-4);
  --color-primary-5: var(--color-geekblue-5);
  --color-primary-6: var(--color-geekblue-6);
  --color-primary-7: var(--color-geekblue-7);
  --color-primary-8: var(--color-geekblue-8);
  --color-primary-9: var(--color-geekblue-9);
  --color-primary-10: var(--color-geekblue-10);
  --color-primary: var(--color-geekblue-6);
  --color-primary-dark: var(--color-geekblue-7);
  --color-primary-light: var(--color-geekblue-5);
}

.theme-volcano {
  --color-primary-1: var(--color-volcano-1);
  --color-primary-2: var(--color-volcano-2);
  --color-primary-3: var(--color-volcano-3);
  --color-primary-4: var(--color-volcano-4);
  --color-primary-5: var(--color-volcano-5);
  --color-primary-6: var(--color-volcano-6);
  --color-primary-7: var(--color-volcano-7);
  --color-primary-8: var(--color-volcano-8);
  --color-primary-9: var(--color-volcano-9);
  --color-primary-10: var(--color-volcano-10);
  --color-primary: var(--color-volcano-6);
  --color-primary-dark: var(--color-volcano-7);
  --color-primary-light: var(--color-volcano-5);
}

.theme-gaypurple {
  --color-primary-1: var(--color-gaypurple-1);
  --color-primary-2: var(--color-gaypurple-2);
  --color-primary-3: var(--color-gaypurple-3);
  --color-primary-4: var(--color-gaypurple-4);
  --color-primary-5: var(--color-gaypurple-5);
  --color-primary-6: var(--color-gaypurple-6);
  --color-primary-7: var(--color-gaypurple-7);
  --color-primary-8: var(--color-gaypurple-8);
  --color-primary-9: var(--color-gaypurple-9);
  --color-primary-10: var(--color-gaypurple-10);
  --color-primary: var(--color-gaypurple-6);
  --color-primary-dark: var(--color-gaypurple-7);
  --color-primary-light: var(--color-gaypurple-5);
}

.theme-hatgreen {
  --color-primary-1: var(--color-hatgreen-1);
  --color-primary-2: var(--color-hatgreen-2);
  --color-primary-3: var(--color-hatgreen-3);
  --color-primary-4: var(--color-hatgreen-4);
  --color-primary-5: var(--color-hatgreen-5);
  --color-primary-6: var(--color-hatgreen-6);
  --color-primary-7: var(--color-hatgreen-7);
  --color-primary-8: var(--color-hatgreen-8);
  --color-primary-9: var(--color-hatgreen-9);
  --color-primary-10: var(--color-hatgreen-10);
  --color-primary: var(--color-hatgreen-6);
  --color-primary-dark: var(--color-hatgreen-7);
  --color-primary-light: var(--color-hatgreen-5);
}


.theme-magenta {
  --color-primary-1: var(--color-magenta-1);
  --color-primary-2: var(--color-magenta-2);
  --color-primary-3: var(--color-magenta-3);
  --color-primary-4: var(--color-magenta-4);
  --color-primary-5: var(--color-magenta-5);
  --color-primary-6: var(--color-magenta-6);
  --color-primary-7: var(--color-magenta-7);
  --color-primary-8: var(--color-magenta-8);
  --color-primary-9: var(--color-magenta-9);
  --color-primary-10: var(--color-magenta-10);
  --color-primary: var(--color-magenta-6);
  --color-primary-dark: var(--color-magenta-7);
  --color-primary-light: var(--color-magenta-5);
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  input[type="range"]::-webkit-slider-thumb {
    @apply w-3 h-3 bg-primary-6 rounded-full border-0 cursor-pointer;
    -webkit-appearance: none;
    transition: background-color 0.2s;
  }


}


/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* 全局滚动条样式 end */