@import "tailwindcss";
/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */


@theme {
  --color-geekblue-1: #f0f5ff;
  --color-geekblue-2: #d6e4ff;
  --color-geekblue-3: #adc6ff;
  --color-geekblue-4: #85a5ff;
  --color-geekblue-5: #85a5ff;
  --color-geekblue-6: #2f54eb;
  --color-geekblue-7: #1d39c4;
  --color-geekblue-8: #10239e;
  --color-geekblue-9: #061178;
  --color-geekblue-10: #030852;
}

@theme {
  --color-primary-1: var(--color-geekblue-1);
  --color-primary-2: var(--color-geekblue-2);
  --color-primary-3: var(--color-geekblue-3);
  --color-primary-4: var(--color-geekblue-4);
  --color-primary-5: var(--color-geekblue-5);
  --color-primary-6: var(--color-geekblue-6);
  --color-primary-7: var(--color-geekblue-7);
  --color-primary-8: var(--color-geekblue-8);
  --color-primary-9: var(--color-geekblue-9);
  --color-primary-10: var(--color-geekblue-10);
  --color-primary: var(--color-geekblue-6);
  --color-primary-dark: var(--color-geekblue-7);
  --color-primary-light: var(--color-geekblue-5);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  --scale-factor: 0.96;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#xChatView .md-editor{
  background-color: inherit!important;
  
  /* transform: scaleY(0.95); */
    /* 缩放比例，例如 0.5 表示缩小到 50% */
    /* transform-origin: center; */
    /* 缩放的基点 */
}

#xChatView .md-editor *:not(.md-editor-code *):not(#preview-only-preview-wrapper,#preview-only-preview) {
  font-size: calc(1rem * var(--scale-factor));
  line-height: calc(2 * var(--scale-factor));
  /* margin-top: calc(0.7rem * var(--scale-factor));
  margin-bottom: calc(0.7rem * var(--scale-factor)); */
  
}

#xChatView .md-editor ul,#xChatView .md-editor li {
  list-style-type: disc;
  margin-top: calc(0.1rem * var(--scale-factor));
  margin-bottom: calc(0.1rem * var(--scale-factor));

}

#xChatView .md-editor p {
  margin-top: calc(0.1rem * var(--scale-factor));
  margin-bottom: calc(0.1rem * var(--scale-factor));
}


/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox 滚动条样式 */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

